/* reset */

*
{
	border: 0;
	box-sizing: content-box;
	color: inherit;
	font-family: Roboto;
	font-size: 14px;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
}

/* content editable */

*[contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }

*[contenteditable] { cursor: pointer; }

*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover { background: #DEF; box-shadow: 0 0 1em 0.5em #DEF; }

span[contenteditable] { display: inline-block; }

/* heading */

h1 { font: bold 100% sans-serif; letter-spacing: 0.5em; text-align: center; text-transform: uppercase; }

/* table */

table { font-size: 80%; table-layout: fixed; width: 100%; border: 1px solid #bbb; }
table { border-collapse: separate; border-spacing: 0; }
th, td { border-width: 0; padding: 0.5em; position: relative; text-align: left; }
th, td { border-radius: 0; border-style: solid; }
th { background: #EEE; border-color: #BBB; }
td { border-color: #DDD; }

/* page */

html { font: 16px/1 'Roboto', sans-serif; overflow: auto; padding: 0.5in; }
html { background: #999; cursor: default; }

body { box-sizing: border-box; height: 11.6in; margin: 0 auto; overflow: hidden; padding: 0.5in; width: 8.2in; position: relative; }
body { background: #FFF; border-radius: 0px; }

/* header */

header {
    margin: 0 0 3em;
    display: block;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #aaa;
}
header:after { clear: both; content: ""; display: table; }
h2.title {
    float: left;
    font-size: 24px;
    font-weight: bold;
}
header h1 {
    color: #151517;
    padding: 0;
    float: right;
    position: relative;
    font-size: 20px;
    margin-top: 24px;
}
header address { float: left; font-size: 75%; font-style: normal; line-height: 1.25; margin: 0 1em 1em 0; }
header address p { margin: 0 0 0.25em; }
header span, header img { display: block; float: right; }
header span { margin: 0 0 1em 1em; max-height: 25%; max-width: 60%; position: relative; }
header img {
    width: 200px;
    float: left;
}
header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }

address p {
    margin-top: 8px;
    width: 400px;
    line-height: 1.3;
    font-size: 100%;
    font-weight: 600;
}

/* article */

article, article address, table.meta, table.inventory { margin: 0 0 3em; }
article:after { clear: both; content: ""; display: table; }
article h1 { clip: rect(0 0 0 0); position: absolute; }

article address { float: left; font-size: 100%; font-weight: bold; }

/* table meta & balance */

table.meta, table.balance { float: right; width: 35%; }
table.meta:after, table.balance:after { clear: both; content: ""; display: table; }

.balance tr:last-child, .meta tr:last-child {
    font-weight: 600;
}

/* table meta */

table.meta th { width: 40%; }
table.meta td { width: 60%; }

/* table items */

table.inventory { clear: both; width: 100%; }
table.inventory th { font-weight: bold; text-align: center; }

table.inventory td:nth-child(1) { width: 26%; }
table.inventory td:nth-child(2) { width: 38%; }
table.inventory td:nth-child(3) { text-align: right; width: 12%; }
table.inventory td:nth-child(4) { text-align: right; width: 12%; }
table.inventory td:nth-child(5) { text-align: right; width: 12%; }

table.payment {
    width: 60%;
    float: left;
    border-color: #151517;
    line-height: 1.3;
}
table.payment b {
	font-weight: 600;
}
.payment th {
    width: 45%;
    padding: 14px 16px;
    background: #fff;
    border-right: 1px solid;
    font-weight: 600;
}
.payment p {
    padding: 6px 16px;
}
/* table balance */

table.balance th { width: 45%; }
table.balance td { text-align: right; width: 55%;}
table.balance th, table.balance td {
    padding: 0.75em 0.5em 0.75em 0.6em;
}
.hormat {
    width: 250px;
    float: right;
    text-align: center;
}
.hormat p:first-child {
    margin-bottom: 80px;
}

/* aside */
aside {
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    border-top: 2px solid #aaa;
    width: 720px;
    text-align: center;
    line-height: 1.5;
}
aside h2 {
    font-weight: 600;
}

/* javascript */

.add, .cut
{
	border-width: 1px;
	display: block;
	font-size: 1rem;
	padding: 0.25em 0.5em;	
	float: left;
	text-align: center;
	width: 0.6em;
}

.add, .cut
{
	background: #151517;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
}

.add { margin: -2.5em 0 0; }

.add:hover, .cut:hover { background: #00ADEE; }

.cut { opacity: 0; position: absolute; top: 0; left: -1.5em; }
.cut { -webkit-transition: opacity 100ms ease-in; }

tr:hover .cut { opacity: 1; }
.hormat p {
    margin: 60px 0;
    display: inline-block;
    width: 100%;
}
.hormat {
    width: 250px;
    float: right;
    text-align: center;
    position: relative;
}
img.stamp {
    position: absolute;
    left: -122px;
    right: 0;
    top: -55px;
    bottom: 0;
    width: 160px;
    margin: auto;
}

@media print {
	* { -webkit-print-color-adjust: exact; }
	html { background: none; padding: 0; }
	body { box-shadow: none; margin: 0; }
	span:empty { display: none; }
	.add, .cut { display: none; }
}

@page { margin: 0; }